html
    head
        title= title 
    body 
        h1= bodyMessage
        a(href="https://www.strava.com/oauth/authorize?client_id=101816&redirect_uri=http://localhost:3000/oauth_redirect&response_type=code&scope=activity:read") Login